#ifndef CREDENTIALS_H
#define CREDENTIALS_H

// WiFi credentials
#define WIFI_SSID "your_wifi_ssid"
#define WIFI_PASSWORD "your_wifi_password"

// Twitch API credentials
#define TWITCH_CLIENT_ID      "your_client_id"
#define TWITCH_CLIENT_SECRET  "your_client_secret"
#define TWITCH_BROADCASTER_ID "your_broadcaster_id"

#endif